body {
	background-color: gray;
}

h1{
	text-align: center;
}

a{
	display: inline;
	background-color: LightSlateGray;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 5px;
	padding: 5px;
	transition: 200ms;
}