	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/01/2019 13:45
  	*/


@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/font/Flaticon.eot");
  src: url("../fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/font/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/font/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-destination-1:before { content: "\f100"; }
.flaticon-delivery-truck-1:before { content: "\f101"; }
.flaticon-price-1:before { content: "\f102"; }
.flaticon-brain:before { content: "\f103"; }
.flaticon-recipes:before { content: "\f104"; }
.flaticon-diet:before { content: "\f105"; }
.flaticon-price:before { content: "\f106"; }
.flaticon-delivery-truck:before { content: "\f107"; }
.flaticon-destination:before { content: "\f108"; }
.flaticon-diet-1:before { content: "\f109"; }
.flaticon-recipes-1:before { content: "\f10a"; }
.flaticon-brain-1:before { content: "\f10b"; }
.flaticon-destination-2:before { content: "\f10c"; }
.flaticon-delivery-truck-2:before { content: "\f10d"; }
.flaticon-price-2:before { content: "\f10e"; }
.flaticon-diet-2:before { content: "\f10f"; }
.flaticon-recipes-2:before { content: "\f110"; }
.flaticon-brain-2:before { content: "\f111"; }
